body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  padding: 5px 0;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-left ul {
  list-style-type: none;
  margin: 0px;
}

.nav-left ul li {
  display: inline;
  margin: 0px 20px;
}

.nav-left ul li a,
.nav-right a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-right a {
  padding: 6px 20px;
  border-radius: 5px;
  color: white;
  background-color: #17202a;
}

.container {
  background-color: #dce0e4;
  padding: 40px 0;
}

.container p {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  /* margin-top: 20px; */
}

.container form {
  width: 350px;
  margin: 25px auto 50px auto;
}

.container form div {
  margin-bottom: 20px;
}

.container form .date div {
  float: left;
  width: 50%;
}

#lstart-date,
#lend-date {
  width: 90%;
}

#lend-date {
  margin-left: 18px;
}

.container form div label {
  font-weight: bold;
  font-size: 17px;
}

.project-name input,
.date input,
.description textarea {
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  box-shadow: 5px 20px 30px #ecf0f1;
}

.technologies div {
  margin-right: 40px;
}

.description textarea {
  resize: none;
  height: 100px;
}

.upload-image input {
  width: 100%;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  box-shadow: 5px 20px 30px #ecf0f1;
  padding: 8px 8px;
  background-color: white;
}

form button {
  float: right;
  margin: 10px 0;
  padding: 5px 30px;
  background-color: #17202a;
  color: white;
  border: 1px solid #17202a;
  border-radius: 15px;
  font-weight: bold;
}

.list-project {
  background-color: white;
  margin: 10px 30px;
}

.list-project .title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0;
}

.card-container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#card-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#card-project .card-content {
  width: 220px;
  border: 1px solid #dce0e4;
  box-shadow: 2px 10px 15px #dce0e4;
  border-radius: 8px;
  padding: 10px 10px;
  margin: 5px 5px;
  height: 370px;
}

.card-content img {
  width: 100%;
  border: 1px solid #dce0e4;
  box-shadow: 2px 10px 12px #dce0e4;
  border-radius: 8px;
  height: 140px;
}

.card-content .title-content {
  font-size: 16px;
  font-weight: 670;
  margin-bottom: 0;
  margin-top: 10px;
}

.card-content span {
  font-size: 14px;
}

.card-content .description {
  text-align: justify;
}

.card-content .description-content {
  margin: 20px 0;
}

.card-content i {
  font-size: 18px;
  margin-right: 10px;
}

.card-content .action button {
  margin-top: 20px;
  padding: 2px 5px;
  background-color: #17202a;
  color: white;
  border: 1px solid #17202a;
  border-radius: 8px;
  width: 48%;
}
