body {
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  padding: 5px 0;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-left ul {
  list-style-type: none;
  margin: 0px;
}

.nav-left ul li {
  display: inline;
  margin: 0px 20px;
}

.nav-left ul li a,
.nav-right a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-right a {
  padding: 6px 20px;
  border-radius: 5px;
  color: white;
  background-color: #17202a;
}

.container {
  width: 900px;
  background-color: white;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 10px 20px grey;
  padding: 20px 10px;
}

.card {
  /* margin: 0 auto; */
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

.card .content-card {
  width: 65%;
}

.card .content-card p {
  text-align: justify;
}

.content-card .donwload,
.sosmed {
  margin: 50px 0;
}

.content-card .donwload span {
  margin: 0px 15px;
}

.content-card .donwload .button {
  padding: 5px 22px;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  background-color: #17202a;
  text-decoration: none;
}

.content-card .donwload a i {
  color: black;
}

.content-card .sosmed a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 4px 4px;
  background-color: black;
  border-radius: 50%;
}

.card .profil {
  width: 33%;
  align-items: center;
  border-radius: 6px;
  box-shadow: 3px 3px 20px grey;
  margin-left: 50px;
}

.card .profil img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  margin: 0px;
}

.card .profil .me {
  text-align: center;
  padding: 2px 0px;
}

//styling contact-form
